.heading{

font-size: 25px;
width: 100%;
margin : 0px;
box-shadow: 5px 5px 5px gray; 
}
.Note{

font-size: 15px;
color: yellow;

}
.Footer{

position:fixed;
bottom:0;
color: azure;
background-color: aqua;
width: 100%;
padding-left: 300px;
line-height: 3;
}
canvas{

border:5px solid gray;
border-radius: 20px;


}